<h1>Articles#index</h1>

<%= link_to "create new article", new_article_path %>
<% @articles.each do |article|%>
  <h2><%= link_to article.title, article_path(article)%></h2>
  <p><%= markdown_with_red_carpet(article.content)%></p>
  <%= link_to "edit this article", edit_article_path(article)%>
  <%= link_to "Delete this article", article_path(article), method: :delete%>
<% end %>
